body {
  font-family: sans-serif;
  background: #121212;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.container {
  margin: auto;
  max-width: 600px;
  padding: 20px;
  background: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin-top: 40px;
}

h1, h2 {
  color: #ccc;
}

.email-box,
.config {
  margin-top: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin: 5px 0;
  background: #222;
  border: 1px solid #444;
  color: white;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

#emails {
  margin-top: 20px;
  text-align: left;
  max-height: 200px;
  overflow-y: auto;
}

.email {
  padding: 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.email:hover {
  background-color: #1c1c1c;
}

#emailContent {
  margin-top: 20px;
  text-align: left;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
  color: #aaa;
}
